<footer class="mb-6 flex w-full flex-col tablet:mb-8 laptop:mb-8 desktop:mb-8">
  <div class="flex w-full flex-row items-center justify-between">
    <app-logo></app-logo>
    <div class="flex flex-row items-center">
      <span
        *ngIf="isLaptopAndUp"
        class="mr-[48px] font-dm-sans text-[18px] font-[400] not-italic text-secondary">
        erik.krenz@hotmail.com
      </span>
      <app-social-media-menu
        [listItem]="props.socialMediaListItem"></app-social-media-menu>
    </div>
  </div>
  <hr
    class="bg-gray my-6 h-[2px] rounded opacity-[0.3] laptop:my-8 desktop:my-8" />
  <div
    class="flex w-full flex-row items-center justify-center tablet:justify-center laptop:justify-between desktop:justify-between">
    <app-navbar
      *ngIf="isLaptopAndUp"
      class="pr-8"
      [listItem]="props.navbarListItem"></app-navbar>
    <span class="font-poppins text-[18px] font-[400] not-italic text-primary"
      >© Erik Krenz 2023. All rights reserved.</span
    >
  </div>
</footer>
