<footer class="flex flex-col w-full">
  <div class="flex flex-row w-full items-center justify-between py-[42px]">
    <app-logo></app-logo>
    <div class="flex flex-row items-center">
      <span
        class="font-dmSans text-[18px] font-[400] not-italic text-heading mr-[48px]">
        erik.krenz@hotmail.com
      </span>
      <app-social-media-menu
        [listItem]="props.socialMediaListItem"></app-social-media-menu>
    </div>
  </div>
  <hr class="h-[2px] bg-gray opacity-[0.3] rounded" />
  <div class="flex flex-row w-full items-center justify-between py-[50px]">
    <app-navbar class="pr-8" [listItem]="props.navbarListItem"></app-navbar>
    <span class="font-poppins text-[18px] font-[400] not-italic text-gray"
      >Built by Erik Krenz</span
    >
  </div>
</footer>
