<header class="flex h-20 w-full flex-row items-center justify-between">
  <app-logo></app-logo>
  <div *ngIf="isLaptopAndUp" class="flex flex-row">
    <app-navbar class="pr-8" [listItem]="props.navbarListItem"></app-navbar>
    <app-social-media-menu
      [listItem]="props.socialMediaListItem"></app-social-media-menu>
  </div>
  <!-- <button
    *ngIf="!isLaptopAndUp"
    class="p-2"
    type="button"
    (click)="toggleSpanMenu()">
    <fa-icon [icon]="['fas', 'bars']" size="xl"></fa-icon>
  </button>
  <div
    class="bg-black fixed right-0 top-0 z-40 h-screen w-64 overflow-y-auto p-4 transition-transform">
    TEST
  </div> -->
</header>
