<div class="flex flex-col py-4 text-center laptop:text-left desktop:text-left">
  <span
    class="font-poppins text-[58px] font-[900] not-italic leading-[70px] tracking-[-1px] text-primary">
    Hi 👋,
  </span>
  <span
    class="font-poppins text-[58px] font-[900] not-italic leading-[70px] tracking-[-1px] text-primary">
    My name is
  </span>
  <div class="flex justify-center laptop:justify-start desktop:justify-start">
    <h1
      class="max-w-[400px] bg-gradient-heading bg-clip-text font-poppins text-[58px] font-[900] not-italic leading-[70px] tracking-[-1px] text-transparent">
      Erik Krenz
    </h1>
  </div>
  <span
    class="font-poppins text-[58px] font-[900] not-italic leading-[70px] tracking-[-1px] text-primary">
    I am a Software Developer
  </span>
</div>
